<h1>New reservation</h1>

<% if signed_in? %>
<%= render 'form' %>
<% else %>
<h2> You did not sign in yet, so you can not make a reservation! </h2>
<% end %>

<%= link_to 'Back', login_path, class: 'btn' %>
