<h2> Business Rules </h2>
<li> Menu items are shown in four categories: Appetizers, Entrées, Drinks, and Desserts. </li>
<li> We are only open for dinner. Hours are: 4pm - 12am, 7 days a week.</li>
<li> The local Fire Marshall has determined that our dining room can safely hold up to 30 people at time.</li>
<li> We only take reservations for the top of the hour, from 4pm-11pm.</li>
<li> Reservations can be for a party of 2 to 20 people.</li>
<li> Customers can get a GrillCard and accumulate points for reservations and ordering deliveries online.</li>